# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
#  Refer to https://pyinstaller.org/en/stable/usage.html#supporting-multiple-platforms
*.spec
build/
dist/
*.exe
*.pkg

# IDE
.vscode/
.idea/

# Output
app_out/
20**_*/
*.apk
!AutoApkTool/DEF_APK/LargeApp.apk
!AutoApkTool/DEF_APK/SmallApp.apk
!AutoApkTool/DEF_APK/Screenless.apk

# Specific cleanup
AutoApkTool/202*_*/
